:root {
    background-color: #d8dfed;
    }

div#root {
    background-color: #d8dfed;
}

.post-card-panel {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 25px;
}

.post-card-panel a {
    color: gray; /* Link color */
    text-decoration: none; /* Remove underline */
}

.post-card-panel a:hover {
    color: darkgray; /* Darker blue on hover */
}

.link-icon-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: lightgray;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    margin-top: -8px;
    opacity: 0.5;
}

.logout-button {
    margin-top: 4px; /* Adjust as needed */
    margin-bottom: 4px; /* Adjust as needed */
}

.truncate {
    width: 100%;
    max-width: 50ch;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    vertical-align: top;
    mask-image: linear-gradient(to right, black 80%, transparent);
    -webkit-mask-image: -webkit-linear-gradient(to right, black 80%, transparent);
}

.centered-status-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}
