:root {
    background-color: #d8dfed;
    }

div#root {
    background-color: #d8dfed;
}

.dashboard-panel {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 25px;
}

.link-icon-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: lightgray;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    margin-top: -8px;
    opacity: 0.5;
}

.logout-button {
    margin-top: 4px; /* Adjust as needed */
    margin-bottom: 4px; /* Adjust as needed */
}